<div class="row">
  <div class="col-md-sched">
    <h3>Monday, 9.</h3>
    <table class="table-striped">
      <tr> <td>10:00</td>  <td>Introductions: the TIB, the Carpentries, this workshop & its participants</td> </tr>
      <tr> <td>11:00</td>  <td>The FAIR principles for research data &amp; software management &amp; development</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>afternoon</td>  <td>Choosing proper repositories, adding rich metadata, PIDs, ORCiDs, citing data & software, etc.</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up 1: Findability</td> </tr>
    </table>
  </div>
  <div class="col-md-sched">
    <h3>10.</h3>
    <table class="table-striped">
      <tr> <td>09:00</td>  <td>Intro 2: Accessibility</td> </tr>
      <tr> <td>morning</td>  <td>Version control & project management with Git</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>afternoon</td>  <td>Structured Query Language</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up 2: Accessibility</td> </tr>
    </table>
  </div>
  <div class="col-md-sched">
    <h3>11.</h3>
    <table class="table-striped">
      <tr> <td>09:00</td>  <td>Intro 3: Interoperability</td> </tr>
      <tr> <td>morning</td>  <td>Community-standard data formats, tidy data</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>afternoon</td>  <td>Turning Python scripts into function-based modules (+ docu & tests)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up 3: Interoperability</td> </tr>
    </table>
  </div>
  <div class="col-md-sched">
    <h3>12.</h3>
    <table class="table-striped">
      <tr> <td>09:00</td>  <td>Intro 4: Reusability</td> </tr>
      <tr> <td>morning</td>  <td>Turning R scripts into function-based packaged (+ docu, tests & metadata)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>afternoon</td>  <td>data packages, using public datasets</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up 4: Reusability</td> </tr>
    </table>
  </div>
  <div class="col-md-sched">
    <h3>Friday, 13.</h3>
    <table class="table-striped">
      <tr> <td>09:00</td>  <td>Intro: Summary of key points</td> </tr>
      <tr> <td>morning</td>  <td>Licenses for data and software</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up & outlook, your feedback to us</td> </tr>
      <tr> <td>15:00</td>  <td>Farewell</td> </tr>
    </table>
  </div>
</div>
